@model IEnumerable<BindPlanet.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
@using (Html.BeginForm("Search", "Products", FormMethod.Post, new { @role = "form", @class = "form-horizontal", enctype = "multipart/form-data", @id = "form" }))
{
    <button class="btn-info" type="submit" style="float: right"><i class="icon-search"></i></button>
    <div style="overflow: hidden; padding-right: .5em;">
        <input type="text" name="word" class="form-control" style="width: 100%;">
    </div>
    @*<div class="form-group">
            <label class="text-info">Search:</label><br>
            <input type="text" name="word" class="form-control">

            <button class="btn-info" type="submit" style="float: right"><i class="icon-search"></i></button>

        </div>*@
}
<table class="table">
    <thead>
        <tr>
            <th>
                <a href="@Url.Action("Order","Products",new { type="name" })">@Html.DisplayNameFor(model => model.Name)</a>
            </th>
            <th>
                <a href="@Url.Action("Order","Products",new { type="quantity" })">  @Html.DisplayNameFor(model => model.Quantity)</a>
            </th>
            <th>
                <a href="@Url.Action("Order","Products",new { type="price" })">    @Html.DisplayNameFor(model => model.Price)</a>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Supplier
            </th>
            <th>
                <a href="@Url.Action("Order","Products",new { type="category" })">           Category</a>

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)  €
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductId">Add Stock</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="@Url.Action("Order","Products")">Ordenar</a>

